body
{
    background: #a05c48c4;
}

header
{
    text-align: center;
    color: azure;
}
.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;  
    padding: 20px;
    text-align: center;

}

img
{
    width: 70%;
}
