    .thumb img 
    {
        border: 2px solid #55c5e9;/* Рамка вокруг картинки*/
        padding: 5 px; /* Расстояние от каритинки ло рамки */
        background: #666 /* Цвет фона*/;
        margin-right: 50 px; /* Отступ справа */
        margin-bottom: 10 px; /* Отступ снизу */
    }