.image-border
{
    display: inline-block;
    font-size: large;
}

.image-border img
{

    border: 4mm ridge #398C94;/* Рамка вокруг картинки*/
    margin-bottom: 10 px; /* Отступ снизу */
    vertical-align: middle;
    margin-right: 5px;
}

body {
    background-color: #AEDFE4;
    color: #A66F3F;
  }

  .link
  {
      display: inline;
  
  }
  
  
  .container
  {
      text-align: center;
  }
  