.header
{
    padding: 1%;
    background-color: #ffef57;
    color: #895D04;
}
.header button
{
    background: radial-gradient(#E9B245, #E9CD45);
    border: 2mm ridge #9E792F;/* Рамка вокруг картинки*/
    padding: 0.5%;
    color: #E9D471;
    text-shadow: 1px 1px 2px black;
    font-family: Georgia;
}
.container
{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:auto;
    gap: 2%;
}
.container header
{
    grid-area: 1 / span 5;
}
.container img
{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: span 5;
    justify-self: center;
    margin-right: 1%;
    background: radial-gradient(#E9B245, #E9E945);
    border: 4mm ridge #9E792F;/* Рамка вокруг картинки*/
    padding: 1%;
    width: 25%;
}
.container p
{   
    width: 90%;
    margin-left: 1%;
    padding: 2%;
    border: 4mm ridge #E9E971;/* Рамка вокруг картинки*/
    background: radial-gradient(#E9E971,#E9E945);
    color: #895D04;
    font-family: sans-serif;
    font-size: 18px;
    

}
body 
{
    background-color: #E9B245;
}

#colum2
{
    grid-column-start: 1;
    grid-column-end: span 2;
    justify-self: start;
}

#colum3
{
    grid-column-start: 3;
    grid-column-start: 3;
    justify-self: center;

}

#colum4
{
    grid-column-start: 4;
    grid-column-end: span 2;
    justify-self: end;
}